* {
    box-sizing: border-box;
}
.itemDetailCard {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.itemDetailCard__img, .itemDetailCard__txt {
    width: 50%;
}
.itemDetailCard__img img {
    width: 100%;
}
.itemDetailCard__txt {
    padding: 2em;
}
.itemDetailCard__txt-header {
    text-align: left;
    font-size: 2em;
}
.itemDetailCard__txt--category {
    text-align: left;
    color: gray;
    font-size: .8em;
}
.itemDetailCard__txt--description {
    text-align: left;
    width: 80%;
    line-height: 1.4;
}
.itemDetailCard__txt--price {
    background-color: #92D9F4;
    padding: .6em 0;
    font-weight: bold;
}
.stockAlert {
    color: gray;
    font-size: .8em;
}