* {
    box-sizing: border-box;
}
.itemDetailCard {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.itemDetailCard__img, .itemDetailCard__txt {
    width: 50%;
}
.itemDetailCard__img img {
    width: 100%;
    margin-top: 3em;
}
.itemDetailCard__txt {
    padding: 2em;
}
.itemDetailCard__txt-header {
    text-align: left;
    font-size: 2em;
}
.itemDetailCard__txt--category {
    text-align: left;
    color: gray;
    font-size: .8em;
}
.itemDetailCard__txt--description {
    text-align: left;
    width: 80%;
    line-height: 1.4;
}
.itemDetailCard__txt--price {
    background-color: #92D9F4;
    padding: .6em 0;
    font-weight: bold;
}
.stockAlert {
    color: gray;
    font-size: .8em;
    text-align: center;
}
#itemDetailBuyed p {
    margin: 2em auto 1.4em auto;
    text-align: center;
}
button {
    background-color: #ee3b36;
    color: white;
    font-weight: bold;
    border: none;
    padding: .6em 1em;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin: 0 25%;
}
button:hover {
    box-shadow: 0px 1px 5px #ee3b36;
}