h1 {
    color: #ee3b36;
    text-transform: uppercase;
    font-size: 2em;
}
h2 {
    color: #37638e;
    font-size: 1.5em;
    margin: 0;
}
.flexItem {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4em;
    justify-content: space-around;
}