.itemCard {
    width: 20%;
    min-width: 150px;
    margin: 1em;
    background-color: antiquewhite;
    border-radius: 20px;
}
.price {
    color: #37638e;
    font-weight: bolder;
    font-size: 1em;
}
.itemCard img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.verItem {
    background-color: #ee3b36;
    color: white;
    padding: .6em 0;
    cursor: pointer;
}