header {
    background-color: #92D9F4;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh 6vw;
    box-sizing: border-box;
    align-items: center;
}
.header__logo {
    height: 6vh;
}
.header__logo img {
    height: 100%;
}
ul li{
    display: inline-block;
    padding: 0 2em;
}