.formCounter {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 1em auto;
    align-items: center;
}
.cantButton {
    color: #ee3b36;
    background-color: #fce5d8;
    border: 1px solid #ee3b36;
    border-radius: 10px;
    padding: .6em 1em;
    cursor: pointer;
    width: 20%;
}
button:hover {
    box-shadow: 0px 1px 5px #ee3b36;
}
.counterP {
    border: 1px solid #ee3b36;
    border-radius: 10px;
    padding: .6em 1em;
}
button[type="submit"] {
    background-color: #ee3b36;
    color: #fce5d8;
    font-weight: bold;
    border: none;
    padding: .6em 1em;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
}